---
---

@import 'bootstrap/bootstrap';

@font-face {
    font-family: 'GT Haptik';
    src:  url("../assets/fonts/GT-Haptik-Medium.woff2") format('woff2'),
          url("../assets/fonts/GT-Haptik-Medium.woff") format('woff'),
          url("../assets/fonts/GT-Haptik-Medium.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GT Haptik';
    src:  url("../assets/fonts/GT-Haptik-Bold.woff2") format('woff2'),
          url("../assets/fonts/GT-Haptik-Bold.woff") format('woff'),
          url("../assets/fonts/GT-Haptik-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GT Haptik';
    src:  url("../assets/fonts/GT-Haptik-Black.woff2") format('woff2'),
          url("../assets/fonts/GT-Haptik-Black.woff") format('woff'),
          url("../assets/fonts/GT-Haptik-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

p{
    font-family: 'Lora', serif;
    font-size: 16px;
    letter-spacing: 0.19px;
    line-height: 20px;
    color:black;
    margin-bottom:10px;
}
a.btn:focus{
    // box-shadow: 0 0 0 0.2rem $mud-island;
    box-shadow: none;
    color: white;
}
a:focus{
    // box-shadow: 0 0 0 0.2rem $mud-island;
    box-shadow: none;
}
:focus {
    outline: none;
}
.nav-link.dropdown-toggle.showing:focus {
    box-shadow: none;
}
.bg-grey{
    background-color:#F7F7F7;
}

.bg-dark *{
    color:white;
    p, h1, h2, h3{
        color:white !important;
    }
}

.text-decoration-none{
    text-decoration:none !important;
}

a:not(.btn):not(.nav-link){
    color:inherit;
    text-decoration: underline;
}

a.disabled {
    pointer-events: none;
    cursor: default;
 }

.full-height{
    height:100vh;
}

.modal.show{
    display:flex !important;
}

.modal-content:not(.round) {
    border-radius: 0px !important;
    border-radius: 0px;
    width: 500px;
    border:0px;
    padding:42px;

    .close{
        opacity:1;
        width:20px;
        float:none;
        margin-bottom:70px;
    }
    h2{
        margin-bottom:40px;
    }
}



p.lead{
    font-family: "GT Haptik", Helvetica, sans-serif;
    font-size: 21px;
    color: #000000;
    letter-spacing: 0.39px;
    line-height: 24px;
    margin-bottom:10px;
    font-weight:400;
}

h1{
    font-family: "GT Haptik", Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: 0.86px;
    line-height: 50px;
    font-weight:700;
    margin-bottom:30px;
    color:black;
}

h2{
    font-family: "GT Haptik", Helvetica, sans-serif;
    font-size: 32px;
    letter-spacing: 0.6px;
    line-height: 33px;
    font-weight:400;
    margin-bottom:20px;
    color:black;
}

h3{
    font-family: "GT Haptik", Helvetica, sans-serif;
    font-weight:900;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.34px;
    text-transform: uppercase;
    color:black;
}
// .nav-placeholder{
//     position:fixed;
//     top:0px;
// }

// .navbar{
//     padding:24px 0px;
// }

.navbar .btn{
    margin-left:21px;
}



.nav-item{
    font-family: "GT Haptik", Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.76px;
    font-weight:900;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color:black;
    padding-left: 21px;
    padding-right: 21px;
}

.navbar-brand{
    height:91px;
    //width:34%;
    mix-blend-mode: multiply;
    position:fixed;
    top:20px;
    left:50px;
    z-index:100000000;
    transition: 300ms;
}

.navbar-brand .logo {
    width:163px;
    height:91px;
    transition: 300ms;
    // background-image: url("../assets/images/logo.png");
    // background-size:163px 91px;
    // background-blend-mode: multiply;
    mix-blend-mode: multiply;
    img{
        mix-blend-mode: multiply;
    }
}
.navbar-brand .logo:hover{
    width:163px;
    height:91px;
    mix-blend-mode: multiply;
    // background-image: url("../assets/images/logo-animated.gif");
    // background-size:163px 91px;
    // background-blend-mode: multiply;
}

.nav-right{
    //width:34%;
    right:50px;
}

.col-flow{
    -webkit-column-count: 4;
    -moz-column-count: 4;
         column-count: 4;

 -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
         column-gap: 60px;
}

.person{
    margin-bottom:20px;
    
        -webkit-column-break-inside: avoid;
                  page-break-inside: avoid;
                       break-inside: avoid;
        
}
a.btn, span.btn{
    font-family: "GT Haptik", Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.76px;
    text-transform: uppercase;
    border-radius: 100px;
}



.page-404{
    background:#44b549;
    transition:1s;
    z-index:-2;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    mix-blend-mode: multiply;
    z-index:-1;
}

a.btn.btn-primary:not(.btn-404):hover, a.btn.btn-secondary:hover, .bg-dark a.btn.btn-secondary:hover{
    color:black !important;
    font-weight:900 !important;
    animation-name: bgcolorchange1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    //animation-timing-function: step-end;
    -webkit-animation-name: bgcolorchange1;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    //-webkit-animation-timing-function: step-end;
    border: 0px;
    padding: 10px 20px;
    letter-spacing: 0.76px;
}

a.btn.btn-primary.external:after{
    background-image: url(../assets/images/external-white.svg);
}

.bg-dark a.btn.btn-primary.external:after{
    background-image: url(../assets/images/external.svg);
}

a.btn.btn-primary.external:hover:after{
    background-image: url(../assets/images/external.svg);
}


a.btn.btn-primary, span.btn.btn-primary{
    background-color:black;
    color:white;
    font-weight:700;
    border: 0px;
    padding: 10px 20px;
    letter-spacing: 0.87px;
}

a.btn.btn-secondary{
    background-color:rgba(0,0,0,0);
    color:black;
    font-weight:900;
    border: 3px solid black;
    padding: 7.1px 17.2px;
}

span.btn.btn-secondary{
    background-color:rgba(0,0,0,0);
    color:black;
    font-weight:900;
    border: 3px solid black;
    padding: 7.1px 17.2px;
}

a.external:after, svg.external:after{
    display: inline-block;
  content: ' ';
  background-image: url(../assets/images/external.svg);
  background-size: 10px 11px;
  height: 11px;
  width: 10px;
  margin-left:10px;
}

.dropdown-toggle::before {
    display: inline-block;
    width: 12.31px;
    height: 7.62px;
    margin-right: 12px;
    content: ' ';
    background-image: url(../assets/images/caret.svg);
    background-size: 12.31px 7.62px;
    transition: transform 300ms;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle[aria-expanded="true"]::before{
    transform: rotate(180deg);
  }

.dropdown-menu.show {
    list-style: none;
    background-color: rgba(0,0,0,0);
    border: 0px;
    border-radius: 0px;

    li {
        margin-top: 10px;
        margin-left: 40px;
        overflow: hidden;
        border-radius: 100px;

        a.btn{
            animation-duration: 500ms;	
	        -webkit-animation-duration: 500ms;
	        animation-timing-function: ease;	
            -webkit-animation-timing-function: ease;	
            animation-fill-mode:forwards;
            position:relative;
            margin-left:0px;
           left: -100%;
           visibility:hidden;
        }
        a.btn.post-animation{
            visibility:visible;
            left: 0px;
        }
    }

    li:nth-child(1) {
        a.btn.animate-me { 
            animation-name: slideIn1;
            -webkit-animation-name: slideIn1;
            animation-delay: 0s; 
        }
    }
    li:nth-child(2) {
        a.btn.animate-me { 
            animation-name: slideIn2;
            -webkit-animation-name: slideIn2;
            animation-delay: .1s; 
        }
    }
    li:nth-child(3) {
        a.btn.animate-me { 
            animation-name: slideIn3;
            -webkit-animation-name: slideIn3;
            animation-delay: .2s; 
        }
    }
    li:nth-child(4) {
        a.btn.animate-me { 
            animation-name: slideIn4;
            -webkit-animation-name: slideIn4;
            animation-delay: .3s; 
        }
    }
}

.bg-dark {
    background-color:black;

    a.btn.btn-primary{
        background-color:white;
        color:black;
        font-weight:900;
        letter-spacing: 0.76px;
    }
    
    a.btn.btn-secondary{
        background-color:rgba(0,0,0,0);
        color:white;
        border: 3px solid white;
        font-weight:700;
    }
}

.btn.btn-primary.btn-404:hover{
    background-color:white;
    color:black;
    font-weight:900;
    letter-spacing: 0.76px;
}

.container{
    padding:0px 50px;
}

.container-fluid{
    padding:0px;
}

.dropdown-menu.show li a.btn:hover{
    color:black;
    font-weight:900;
    animation-name: bgcolorchange1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
    -webkit-animation-name: bgcolorchange1;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-end;
    left: 0px !important;
    visibility: visible !important;
    //   background-image:url('join-us-black.svg');
}

.collapse.show {
    // padding-top: 40px;
}

.nav-wrapper{
    padding:0px 40px !important;
}

.nav-wrapper, .nav-wrapper *:not(.logo){
    transition: 300ms;
    nav{
        height:130px;
        
    }
}

.nav-wrapper.fixed{
    height:78px;
    background-color:#F7F7F7;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    nav{
        height:78px;
        
    }
}

.navbar-brand.smaller {
    height:auto;
    top:10px;
    .logo{
        width:97px;
        height:54px;
    }
}



button.navbar-toggler:focus {
    outline: 0px auto -webkit-focus-ring-color;
    

}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .ham4 .top {
    stroke-dasharray: 40 121;
  }
  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham4.active .top {
    stroke-dashoffset: -68px;
  }
  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5;
    stroke-linecap:round;
  }

  .navbar-light .navbar-toggler {
    color: black !important;
    //border-color: rgba(0, 0, 0, 0.1);
    border:0px solid black !important;
    padding:0px;
    position: absolute;
    right: -18px;
    top:10px;
}



.icons a{
    margin:10px;
    img{
        height:20px;
        width:auto;
    }
}

.hero{
    text-align:center;
    padding: 0px;

    .left-content{
        max-width: 500px;
        margin: 0 auto;
    }
}

.hero-img{
    height:622px;
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.district{
    width:20%;
    transition: width 500ms;
    height:100%;
    img{
        mix-blend-mode: multiply;
    }
}



.greenbelt{
    background-color: $greenbelt;
}
.mud-island{
    background-color: $mud-island;
}
.fourth-bluff{
    background-color: $fourth-bluff;
}
.big-river{
    background-color: $big-river;
}
.mlk{
    background-color: $mlk;
}


// ABOUT PAGE
#about-hero{
    height:800px;
}

#about-hero h1, #mission h1 {
    max-width: 900px;
    margin: auto;
}

#faq-section{
    .faq{
        border-bottom: 1px solid #C8C8C8;
        a{
            text-decoration: none;
        }
        h2{
            margin:0px;
        }
    }
}

.seasonal-img{
    min-height: 450px;
    height: 100%;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

#parks-hero{
    height:100vh;
}

#districts-section{
    height:600px;
}

#parks-hero.clicked{
    .district.hidden{
        width:0px;
    }
    .district.clicked{
        width:100%;
        img{
            margin:auto;
        }
    }

}

.district-link{

    height:100%;

    .district-logo{
        display: block;
    }
    .district-logo-hover{
        display:none;
    }
}

.district-link:hover{
    .district-logo{
        display: none;
    }
    .district-logo-hover{
        display:block;
    }
}

// .half-height{
//     height:80vh;
// }

.round{
    border-radius: 50%;
    width: 450px;
    height: 450px;
    margin:auto;
    margin-bottom:calc(50vh - 225px);

    position:relative;

    .form{
        display:none;
    }
    .tagline{
        display:block;
    }
    .join{
        position:absolute;
        bottom:70px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

.round.form-active{
    background-color:white !important;
    .tagline{
        display:none;
    }
    .form{
        display:block;
    }
    input.btn.btn-primary{
        background-color: $mud-island;
        color:black;
        border:0px;
        font-family: "GT Haptik", Helvetica, sans-serif;
        font-size: 14px;
        letter-spacing: 0.76px;
        text-transform: uppercase;
        border-radius: 100px;
        font-weight:900;
        padding: 10px 20px;
        position:absolute;
        bottom:70px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    
    input.btn.btn-primary:hover{
        background-color: $mlk;
    }

    input#mce-EMAIL {
        text-align: center;
        font-family: "GT Haptik", Helvetica, sans-serif;
        font-size: 32px;
        color:black;
        letter-spacing: 0.6px;
        text-align: center;
        line-height: 50px;
        border:0px;
        width:100%;
        outline:none;
    }
}

footer input.btn.btn-primary{
    background-color:white;
    color:black;
    font-weight:900;
    letter-spacing: 0.76px;
    border: 0px;
    padding: 10px 20px;
    font-family: "GT Haptik", Helvetica, sans-serif;
    font-size: 14px !important;
    letter-spacing: 0.76px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height:21px; 
    width:210px;
    transition: 500ms;
}
footer input.btn.btn-primary::placeholder{
    color:black !important;
    font-weight:900;
    font-size: 14px;
    letter-spacing: 0.76px;
    text-transform: uppercase;
    line-height:21px;
    font-family: "GT Haptik", Helvetica, sans-serif;
}
footer input.btn.btn-primary:hover{
    animation-name: bgcolorchange1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: bgcolorchange1;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}
footer input.btn.btn-primary:focus:hover{
    animation: none;
}

footer input.btn.btn-primary:focus{
    width:90%;
    max-width:500px;
    border:3px solid;
    border-color: $mud-island;
}
footer input.btn.btn-primary:focus::-webkit-input-placeholder{
    color:#b2b2b2 !important;
    font-weight:700;
}

.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}


input#mce-Email:focus{
    outline: none !important;
    font-family: "GT Haptik", Helvetica, sans-serif
}

input#mce-EMAIL::placeholder{
    color: #CCCCCC;
    font-family: "GT Haptik", Helvetica, sans-serif;
}

.landing-hero{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    width:100vw;
    position:fixed;
    top:0px;
    left:0px;
    z-index:-2;
}
.landing-hero-after{
    height:100vh;
    width:100vw;
    z-index:-1;
}

.img-container{
    span.btn{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 28%;
        left: 50%;
        display:none;
    }
}

a.event-image{
    span{
        position: absolute;
        top: 10px;
        right: 45px;
        display:none;
    }
}

a.event-image:hover {
    .img-container {
        animation-name: bgcolorchange5;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: step-end;
        -webkit-animation-name: bgcolorchange5;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: step-end;

        span{
            display:inherit;
        }
    }
    img{
        visibility:hidden;
    }
    h3, h2{
        animation-name: event-hover-text;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: step-end;
        -webkit-animation-name: event-hover-text;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: step-end;
    }
}

.nav-placeholder{
    //z-index:0;
    //mix-blend-mode: multiply;
}

.navbar-light .navbar-nav .nav-link:hover, a:hover{ 
  color: #f05f22; 
}
a.round-donate-btn:hover{
    color:white !important;
}
a.btn-404:hover{
    color:black !important;
}

.round-donate-btn{
    width: 93px;
    height:93px;
    animation-name: bgcolorchange5;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-name: bgcolorchange5;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    border-radius:93px;
    position:fixed;
    bottom:50px;
    left:50px;
    font-family: "GT Haptik", Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.76px;
    font-weight:900;
    text-transform: uppercase;
    color:black;
    text-decoration:none !important; 
    z-index:0;
}

.round-donate-btn:hover{
    color:white !important;
    background:black !important;
    animation:none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 20.2px;
    height: 36.74px;
    background: no-repeat center center;
    background-size: 100% 100%;
}
.carousel-control-prev-icon {
    background-image: url("../assets/images/previous-icon.svg");
}
.carousel-control-next-icon {
    background-image: url("../assets/images/next-icon.svg");
}
.carousel-control-prev, .carousel-control-next{
    width:auto;
    padding:0px 25px;
    opacity: 1;
}


@keyframes bgcolorchange1 {
  0% {background-color: #f05f22;}
  25% {background-color: #ffc818;}
  50% {background-color: #298fce;}
  75% {background-color: #e684a1;}
  100% {background-color: #44b549;}
}
@keyframes bgcolorchange2 {
    0% {background-color: #ffc818;}
    25% {background-color: #298fce;}
    50% {background-color: #e684a1;}
    75% {background-color: #44b549;}
    100% {background-color: #f05f22;}
}
@keyframes bgcolorchange3 {
    0% {background-color: #298fce;}
    25% {background-color: #e684a1;}
    50% {background-color: #44b549;}
    75% {background-color: #f05f22;}
    100% {background-color: #ffc818;}
}
@keyframes bgcolorchange4 {
    0% {background-color: #e684a1;}
    25% {background-color: #44b549;}
    50% {background-color: #f05f22;}
    75% {background-color: #ffc818;}
    100% {background-color: #298fce;}
}
@keyframes bgcolorchange5 {
    0% {background-color: #44b549;}
    25% {background-color: #f05f22;}
    50% {background-color: #ffc818;}
    75% {background-color: #298fce;}
    100% {background-color: #e684a1;}
}

@keyframes event-hover-text {
    0% {color: #44b549;}
    25% {color: #f05f22;}
    50% {color: #ffc818;}
    75% {color: #298fce;}
    100% {color: #e684a1;}
}

 @keyframes slideIn1 { 
    0% {
      left: -100%;
      color: rgba(0,0,0,0);
      background-color:#f05f22;
    }
    50%{
        color: rgba(0,0,0,0);
        background-color:#f05f22;
    }
    100% {
      left: 0px;
      color: white;
      background-color:black;
      visibility:visible;
    }
  }

  @keyframes slideIn2 { 
    0% {
      left: -100%;
      color: rgba(0,0,0,0);
      background-color:#ffc818;
    }
    50%{
        color: rgba(0,0,0,0);
        background-color:#ffc818;
    }
    100% {
      left: 0px;
      color: white;
      background-color:black;
      visibility:visible;
    }
  }

  @keyframes slideIn3 { 
    0% {
      left: -100%;
      color: rgba(0,0,0,0);
      background-color:#298fce;
    }
    50%{
        color: rgba(0,0,0,0);
        background-color:#298fce;
    }
    100% {
      left: 0px;
      color: white;
      background-color:black;
      visibility:visible;
    }
  }

  @keyframes slideIn4 { 
    0% {
      left: -100%;
      color: rgba(0,0,0,0);
      background-color:#e684a1;
    }
    50%{
        color: rgba(0,0,0,0);
        background-color:#e684a1;
    }
    100% {
      left: 0px;
      color: white;
      background-color:black;
      visibility:visible;
    }
  }

  @media (max-width: 991px) {
    .nav-wrapper nav, .nav-wrapper * nav {
        height: auto;
    }
    .navbar-collapse.show ul.navbar-nav {
      //  margin-top: 100px;
    }
    .col-flow{
        -webkit-column-count: 3;
        -moz-column-count: 3;
             column-count: 3;
    }
    .nav-wrapper.navbar-mobile{
        nav{
            height:100% !important;
            padding-top:120px;
            
        }
    }
    .nav-wrapper.navbar-mobile, .nav-wrapper.navbar-mobile.fixed{
        background-color: #F7F7F7;
        padding-bottom: 30px !important;
        z-index: 1;
        height:auto;
        nav{
            height:100% !important;
        }
    }
  }

  @media (max-width: 1200px) {

    .navbar-light .navbar-nav .nav-link {
        color: black;
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .btn{
        margin-left:10px;
    }
  }

  @media (max-width: 768px){
    .modal-content {
        width: auto;
    }
    .container {
        padding: 0px 30px;
    }
    .round-donate-btn{
        left:30px;
        bottom:30px;
    }
    h1{
        font-size: 36px;
        letter-spacing: 0.86px;
        line-height: 36px;

    }
    h2{
        font-size: 26px;
        letter-spacing: 0.6px;
        line-height: 28px;
    }
    h3{
        font-size:16px;
    }
    .round, .round.modal-content {
        border-radius: 50% !important;
        width: 300px;
        height: 300px;
        margin-bottom: calc(50vh - 150px);
        .join{
            bottom:40px;
        }
        h1{
            margin-bottom:70px !important;
        }
    }
    .round.form-active{
        input.btn.btn-primary{
            bottom:40px;
        }
    }
    #districts-section, #parks-hero {
        height: auto;
    }
    .district {
        width: 100%;
        height:auto;
    }
    .district-link{
        height:auto;
    }
    .hero-img{
        height:450px;
    }
    p.lead {
        font-size: 18px;
        letter-spacing: 0.39px;
        line-height: 20px;
    }

    .navbar-brand .logo{
        width: 100px;
        height: 55.83px;
       // margin-top:10px;
    }
    .navbar-brand{
        top:20px;
        left:30px;
    }
    
    .col-flow{
        -webkit-column-count: 2;
        -moz-column-count: 2;
             column-count: 2;
    }


    .nav-wrapper {
        padding: 0px 20px !important;
    }
    input#mce-EMAIL::placeholder, input#mce-EMAIL:not(input.footer-input#mce-EMAIL){
        font-size: 26px;
        letter-spacing: 0.6px;
        line-height: 28px;
    }
    footer input.footer-input.btn.btn-primary#mce-EMAIL{
        background-color:white;
        color:black;
        font-weight:900;
        letter-spacing: 0.76px;
        border: 0px;
        padding: 10px 20px;
        font-family: "GT Haptik", Helvetica, sans-serif;
        font-size: 14px !important;
        letter-spacing: 0.76px;
        text-transform: uppercase;
        border-radius: 100px;
        line-height:21px; 
        transition: 500ms;
    }
    footer input.footer-input.btn.btn-primary#mce-EMAIL::placeholder{
        color:black !important;
        font-weight:900;
        font-size: 14px;
        letter-spacing: 0.76px;
        text-transform: uppercase;
        line-height:21px;
        font-family: "GT Haptik", Helvetica, sans-serif;
    }
    .round.form-active input#mce-EMAIL{
        width:90%;
    }

    
  }


  @media (min-width: 1700px) {   
        .hero-img{
            height:1000px;
        } 
    }
