---
layout: internal
title: About
permalink: /about/
description: >-
  Memphis River Parks Partnership works with and for the people of Memphis to
  trigger the transformative power of our river.
image: /uploads/img-3099.JPG
---

<div class="container-fluid bg-dark" id="about-hero">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-8 offset-md-2 text-center my-auto">
                <div>
                    <h1 class="mb-4 editable">
                        Memphis River Parks Partnership works with and for the people of Memphis to trigger the transformative power of our river.
                    </h1>
                    <a data-toggle="modal" data-target="#joinModal" class="btn btn-primary mt-2 editable">Come to the River</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-5">
                <h2 class="editable">The Memphis River Parks Partnership is a nonprofit (501c3) organization that stewards the riverfront on behalf of the people of Memphis. The partnership works to create a connected, catalytic and fun riverfront for all.</h2>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3 offset-lg-1">
                <p class="editable">
                  The Partnership manages, maintains, operates and activates five connected riverfront park districts of 250 acres of parkland as well as multiple rental and performance facilities.<br /><br />The Partnership produces programs year-round and partners with external producers to host major civic moments on the river. The work of the Partnership is guided by the Memphis Riverfront Concept.
                </p>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3 offset-md-1 offset-lg-0">
                    <p class="editable">
                      Completed in 2017 after a major public engagement campaign incorporating the voices of more than 4,000 Memphians, the concept lays out a series of elegant and connected investments that, together, lead to outsize impact by fostering positive encounters and civic pride, restoring natural ecological conditions and connecting the riverfront to downtown and adjacent neighborhoods.
                    </p>
            </div>
        </div>
    </div>
</div>
<div class="container py-4">
    <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 text-center mb-4">
            <h2 class="editable">
              The Partnership team maintains more than five miles of riverfront everyday. Say hi to a ranger next time you spot them in the park!
            </h2>
        </div>
    </div>
    <div class="row">
        {% assign staff = site.data.staff %}
        {% for staffmember in staff %}
            <div class="col-6 col-sm-4 col-md-3 mb-4">
                <img class="img-fluid mb-3" alt="{{ staffmember.alt_text }}" src="{{ staffmember.image }}" />
                <p class="lead mb-1">{{ staffmember.name }}</p>
                <p>{{ staffmember.title }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <h3 class="my-2">Board Members</h3>
        </div>
    </div>
    <div class="row mb-2">
        
        <div class="col col-flow">
                {% assign board = site.data.board %}
                {% for boardmember in board %}
            <div class="person">
                <p class="lead">{{ boardmember.name }}</p>
                <p>{{ boardmember.role}}<br />{{boardmember.optional-third-line}}</p>
            </div>
                {% endfor %}
        </div>

    </div>

    {% assign officio = site.data.ex-officio %}
    {% if officio[0].name %}
    <div class="row">
            <div class="col">
                <h3 class="my-2">Ex-Officio Members</h3>
            </div>
    </div>
    <div class="row mb-2">
        <div class="col col-flow">
                {% for member in officio %}
                <div class="person">
                    <p class="lead">{{ member.name }}</p>
                    <p>{{ member.role}}<br />{{member.optional-third-line}}</p>
                </div>
                {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
<div class="container-fluid bg-grey py-4">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-0 mb-3 mb-lg-0">
                <img src="../assets/images/donate.png" class="img-fluid editable" />
            </div>
            <div class="col-sm-8 offset-sm-2 col-md-8 col-lg-4 offset-md-2 offset-lg-1 text-center my-auto">
                <h1 class="mb-3 editable">
                  We run on people like you.
                </h1>
                <p class="lead mb-3 mx-auto editable" style="max-width:400px;">
                  Your donations keep us going.
                </p>
                <a href="donate.com" class="btn btn-primary editable">Donate today</a>
            </div>
        </div>
    </div>
</div>
<div class="container py-4">
        <div class="row">
            <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 text-center mb-4">
                <p class="lead mb-3 editable" href="donate.com">
                  We love to show off the riverfront online. Check out the latest images and follow us at @memriverparks
                </p>
                <a class="btn btn-secondary external mb-2 editable" href="https://www.instagram.com/memriverparks/" target="_blank">View More Images</a>
            </div>
        </div>
        <div class="row" id="instaFeed">
            <!-- Instagram Feed goes here -->
        </div>
    </div>
<!-- 
{% include join-modal.html %} -->