---
layout: internal
title: Contact
image: contact-hero.png
permalink: /contact/
---

<div class="container-fluid hero">
    <div class="row m-0">
        <div class="col-12 col-lg-4 offset-lg-0 my-lg-auto py-4 py-lg-0 order-2 order-lg-1">
            <div class="p-lg-4 left-content">
                <h1 class="text-primary mb-2 mb-lg-4 editable">Come to the River.</h1>
                <p class="lead editable">Whether you want to visit the riverfront, host an event, or just ask a question, get in touch with the Partnership here or find a park ranger on your next visit.</p>
            </div>
        </div>
        
        <div class="col-12 col-lg-8 p-0 order-1 order-lg-2">
            <div class="hero-img" style="background-image:url('../assets/images/{{ page.hero-image }}')"></div>
        </div>
</div>



    <div class="container-fluid bg-dark" id="contact-info">
        <div class="container py-5">
            <div class="row py-2">
                    <div class="col-12 col-md-4 mb-3 mb-md-0 text-center">
                        <p class="lead editable">
                            {% for item in site.data.global-content.address %}
                                {{item}}<br>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-12 col-md-4 mb-3 mb-md-0 text-center">
                        <p class="lead editable"><a href="mailto:{{ site.data.global-content.email }}">{{ site.data.global-content.email }}</a></p>
                        <div class="icons my-2">
                            <a href="{{ site.data.global-content.facebook }}"><img src="../assets/images/icon-facebook.svg"></a>
                            <a href="{{ site.data.global-content.twitter }}"><img src="../assets/images/icon-twitter.svg"></a>
                            <a href="{{ site.data.global-content.medium }}"><img src="../assets/images/icon-medium.svg"></a>
                            <a href="{{ site.data.global-content.instagram }}"><img src="../assets/images/icon-instagram.svg"></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <p class="lead editable">It's a short, easy walk from downtown.</p>
                        <a href="/parks" class="btn btn-primary mt-1 editable">Explore the Parks</a>
                    </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-left">
        {% include rent.html %}
    </div>
    <div class="container-fluid text-left bg-grey">
        <div class="container py-4">
                <div class="row">
                    <div class="col-10 col-sm-6 col-lg-3 order-2 order-md-1">
                        <h2 class="editable">Work with us!</h2>
                        <p class="editable">It’s going to take all of us, together, to make the riverfront successful. Find out how to join the Partnership as a volunteer, ambassador or team member.</p>
                        <a href="#" class="btn btn-primary mt-3 editable">Get More Info</a>
                    </div>
                    <div class="col-md-6 col-lg-8 offset-lg-1 order-1 order-md-2 mb-3 mb-md-0">
                        <img class="img-fluid editable" src="../assets/images/volunteer-cta.png" />
                    </div>
                </div>
        </div>
    </div>


</div>