---
layout: internal
title: FAQ
permalink: /faq/
description: lorem ipsum dolor sit amet
---

<div class="container-fluid bg-dark py-5">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-10 col-sm-8 col-md-6 offset-1 offset-sm-2 offset-md-3 text-center my-auto">
                    <div>
                        <h2 class="mb-3 editable">
                            Memphis River Parks Partnership works with and for the people of Memphis to trigger the transformative power of our river.
                        </h2>
                        <a href="#" class="btn btn-primary mt-2 editable">Ask a Question</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5 pb-5" id="faq-section">
        {% assign faqs = site.data.faq %}
        {% for faq in faqs %}
            
        <div class="row">
            <div class="col-10 faq px-0 offset-1 d-inline">
                <a data-toggle="collapse" href="#collapsible-{{ forloop.index }}" role="button" aria-expanded="false" aria-controls="collapsible-1" class="d-flex justify-content-between">
                    <h2 class="my-3">{{ faq.question }}</h2>
                    <h2 class="my-3 plus">+</h2>
                </a>
                <div class="row collapse" id="collapsible-{{ forloop.index }}">
                        <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                            <p class="mb-2">{{ faq.answer }}</p>
                            {% if faq.link_url %}
                            <a href="{{ faq.link_url }}" class="btn btn-primary mb-4">{{ faq.link_text }}</a>
                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>

        {% endfor %}

    </div>