---
layout: district-page
title: Mud Island
permalink: parks/mud-island/
id: mud-island
favicon: 2.png
description: lorem ipsum dolor sit amet
image: 
---
<div class="container-fluid clearfix districts clicked" id="parks-hero">
        <a href="#" class="text-decoration-none district-link disabled" id="{{ page.id }}">
            <div class="district text-center {{ page.id }} float-left align-items-center d-flex clicked">
                <img class="img-fluid" src="{{ site.url }}/assets/images/districts/{{ page.id }}.png" />
            </div>
        </a>
</div>
<div class="container-fluid" id="district-content">
        {% include parks-and-attractions.html %}

    <div class="container-fluid clearfix" id="districts-section">
        {% include districts.html %}
    </div>
</div>

