$primary: #000000; // burgundy

$grid-gutter-width: 60px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1700px
);

$container-max-widths: (
  sm: 1700px,
  md: 1700px,
  lg: 1700px,
  xl: 1700px
);

$spacers: (
  0: 0px,
  1: 10px,
  2: 20px,
  3: 30px,
  4: 50px,
  5: 100px
);

$dark: #000000;
$light: #f7f7f7;