<div class="container-fluid" id="districts-section">
        <a href="#" class="text-decoration-none h-100 district-link">
            <div class="district my-auto text-center h-100 greenbelt float-left">
                    Greenbelt
            </div>
        </a>
        <a href="#" class="text-decoration-none h-100 district-link">
            <div class="district text-center h-100 mud-island float-left align-items-center h-100 d-flex">
                <img class="img-fluid before-click" src="assets/images/MLK_Frame_1.png" onmouseenter="this.src ='assets/images/MLK_Test_3.gif';" onmouseout="this.src = 'assets/images/MLK_Frame_1.png';" />
                <img class="img-fluid after-click d-none" src="assets/images/MLK_Frame_1.png" />
            </div>
        </a>
        <a href="#" class="text-decoration-none district-link">
            <div class="district my-auto text-center h-100 fourth-bluff float-left">
                    Fourth Bluff
            </div>
        </a>
        <a href="#" class="text-decoration-none h-100 district-link">
            <div class="district text-center h-100 big-river float-left">
                Big River
            </div>
        </a>
        <a href="#" class="text-decoration-none h-100 district-link">
            <div class="district text-center h-100 mlk float-left align-items-center h-100 d-flex">
                <img class="img-fluid before-click" src="assets/images/MLK_Frame_1.png" onmouseenter="this.src ='assets/images/MLK_Test_3.gif';" onmouseout="this.src = 'assets/images/MLK_Frame_1.png';" />
                <img class="img-fluid after-click d-none" src="assets/images/MLK_Frame_1.png" />
            </div>
        </a>
</div>