<div class="container-fluid clearfix" id="districts-section">
        <a href="greenbelt.html" class="text-decoration-none district-link">
                <div class="district text-center greenbelt float-left align-items-center d-flex">
                    <img class="img-fluid before-click" src="assets/images/districts/greenbelt.png" onmouseenter="this.src ='assets/images/districts/greenbelt.gif';" onmouseout="this.src = 'assets/images/districts/greenbelt.png';" />
                    <img class="img-fluid after-click d-none" src="assets/images/districts/greenbelt.png" />
                </div>
        </a>
        <a href="mud-island.html" class="text-decoration-none district-link">
            <div class="district text-center mud-island float-left align-items-center d-flex">
                    <img class="img-fluid before-click" src="assets/images/districts/mud-island.png" onmouseenter="this.src ='assets/images/districts/mud-island.gif';" onmouseout="this.src = 'assets/images/districts/mud-island.png';" />
                    <img class="img-fluid after-click d-none" src="assets/images/districts/mud-island.png" />
            </div>
        </a>
        <a href="fourth-bluff.html" class="text-decoration-none district-link">
                <div class="district text-center fourth-bluff float-left align-items-center d-flex">
                    <img class="img-fluid before-click" src="assets/images/districts/fourth-bluff.png" onmouseenter="this.src ='assets/images/districts/fourth-bluff.gif';" onmouseout="this.src = 'assets/images/districts/fourth-bluff.png';" />
                    <img class="img-fluid after-click d-none" src="assets/images/districts/fourth-bluff.png" />
                </div>
        </a>
        <a href="big-river.html" class="text-decoration-none district-link">
            <div class="district text-center big-river float-left align-items-center d-flex">
                <img class="img-fluid before-click" src="assets/images/districts/big-river.png" onmouseenter="this.src ='assets/images/districts/big-river.gif';" onmouseout="this.src = 'assets/images/districts/big-river.png';" />
                <img class="img-fluid after-click d-none" src="assets/images/districts/big-river.png" />
            </div>
        </a>
        <a href="mlk.html" class="text-decoration-none district-link">
            <div class="district text-center mlk float-left align-items-center d-flex">
                <img class="img-fluid before-click" src="assets/images/districts/mlk.png" onmouseenter="this.src ='assets/images/districts/mlk.gif';" onmouseout="this.src = 'assets/images/districts/mlk.png';" />
                <img class="img-fluid after-click d-none" src="assets/images/districts/mlk.png" />
            </div>
        </a>
</div>