
<a href="{{ site.url }}/parks/greenbelt" class="text-decoration-none district-link" id="greenbelt">
        <div class="district text-center greenbelt float-left align-items-center d-flex">
            <img class="img-fluid before-click" src="{{ site.url }}/assets/images/districts/greenbelt.png" onmouseenter="this.src ='{{ site.url }}/assets/images/districts/greenbelt.gif';" onmouseout="this.src = '{{ site.url }}/assets/images/districts/greenbelt.png';" />
            <img class="img-fluid after-click d-none" src="{{ site.url }}/assets/images/districts/greenbelt.png" />
        </div>
</a>
<a href="{{ site.url }}/parks/mud-island" class="text-decoration-none district-link" id="mud-island">
    <div class="district text-center mud-island float-left align-items-center d-flex">
            <img class="img-fluid before-click" src="{{ site.url }}/assets/images/districts/mud-island.png" onmouseenter="this.src ='{{ site.url }}/assets/images/districts/mud-island.gif';" onmouseout="this.src = '{{ site.url }}/assets/images/districts/mud-island.png';" />
            <img class="img-fluid after-click d-none" src="{{ site.url }}/assets/images/districts/mud-island.png" />
    </div>
</a>
<a href="{{ site.url }}/parks/fourth-bluff" class="text-decoration-none district-link" id="fourth-bluff">
        <div class="district text-center fourth-bluff float-left align-items-center d-flex">
            <img class="img-fluid before-click" src="{{ site.url }}/assets/images/districts/fourth-bluff.png" onmouseenter="this.src ='{{ site.url }}/assets/images/districts/fourth-bluff.gif';" onmouseout="this.src = '{{ site.url }}/assets/images/districts/fourth-bluff.png';" />
            <img class="img-fluid after-click d-none" src="{{ site.url }}/assets/images/districts/fourth-bluff.png" />
        </div>
</a>
<a href="{{ site.url }}/parks/big-river" class="text-decoration-none district-link" id="big-river">
    <div class="district text-center big-river float-left align-items-center d-flex">
        <img class="img-fluid before-click" src="{{ site.url }}/assets/images/districts/big-river.png" onmouseenter="this.src ='{{ site.url }}/assets/images/districts/big-river.gif';" onmouseout="this.src = '{{ site.url }}/assets/images/districts/big-river.png';" />
        <img class="img-fluid after-click d-none" src="{{ site.url }}/assets/images/districts/big-river.png" />
    </div>
</a>
<a href="{{ site.url }}/parks/mlk" class="text-decoration-none district-link" id="mlk">
    <div class="district text-center mlk float-left align-items-center d-flex">
        <img class="img-fluid before-click" src="{{ site.url }}/assets/images/districts/mlk.png" onmouseenter="this.src ='{{ site.url }}/assets/images/districts/mlk.gif';" onmouseout="this.src = '{{ site.url }}/assets/images/districts/mlk.png';" />
        <img class="img-fluid after-click d-none" src="{{ site.url }}/assets/images/districts/mlk.png" />
    </div>
</a>
