<script>
        window.fbAsyncInit = function() {
          FB.init({
            appId            : '556297018114224',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v3.2'
        });

        var pageAccessToken = 'EAAH58v4ngLABADHo4mx9CgI7sXGMkLrRYsJZAYXKNZBWZCNLbxt8ZCojOswl6YKl9pBeovquXzFoJBrvIaA3kdGs4I48jZBGlWQAv3l2dfmpoFAZAaCbDbudgLRWGhdVkH7uI0mY61tqUr5K2q5xJZB8XqxGBUu0Ql5VrVzzgSADAZDZD';

        FB.api('/870962136249359/events?time_filter=upcoming', {
            access_token : pageAccessToken },
            function (response) {

                if (response && !response.error) {
                    /* handle the result */
                    // const renderedEvents = document.createDocumentFragment();
                    var renderedEvents = '';

                    // loop through the events
                    response.data.forEach((item) => {
                    
                        // need to create a function to manipulate the event data (particularly the time) and pass it to the createSingleEvent function
                        // need to pass the manipulated data to this function

                        // console.log(item);

                        //var apiStr = "/" + item.id + "/picture";
                        let image = '';

                        FB.api('/' + item.id + '?fields=cover', {
                            access_token : pageAccessToken },
                            function (response) {
                                if (response && !response.error) {
                                    /* handle the result */
                                    //console.log(response.cover.source);
                                    image = response.cover.source;
                                    console.log(image);
                                } else {
                                    console.log(response.error);
                                }
                            }
                            
                        );

                        //console.log(item);

                        var today  = new Date();
                        var date = new Date(item.start_time);
        

                        if (item.event_times){
                            // console.log(item);
                            // for(var i=0;i<item.event_times.length;i++){
                            //     console.log(new Date(item.event_times[i].start_time));
                            // }
                        }
                        // if (date > today){
                            renderedEvents += createSingleEvent(item, date, image);
                        // }

                    });

                    // get the dom node that we'll inject the rendered events into (you'll need to make/adjust this id in your html)
                    const eventsContainer = document.getElementById('upcoming-events');

                    // inject the rendered events into the dom 
                    eventsContainer.innerHTML = renderedEvents;

                } // make sure to handle errors
            });


            
            FB.api('/870962136249359/events?time_filter=past&limit=9 ', {
            access_token : pageAccessToken },
            function (response) {

                if (response && !response.error) {
                    /* handle the result */
                    // const renderedEvents = document.createDocumentFragment();
                    var renderedEvents = '';
                    
                    // loop through the events
                    response.data.forEach((item) => {
                    
                        // need to create a function to manipulate the event data (particularly the time) and pass it to the createSingleEvent function
                        // need to pass the manipulated data to this function

                        var apiStr = "/" + item.id + "/picture";

                    
                        

                        var today  = new Date();
                        var date = new Date(item.start_time);
                        // if (date > today){
                            renderedEvents += createSingleEvent(item, date);
                        // }

                    });

                    // get the dom node that we'll inject the rendered events into (you'll need to make/adjust this id in your html)
                    const eventsContainer = document.getElementById('past-events');

                    // inject the rendered events into the dom 
                    eventsContainer.innerHTML = renderedEvents;

                } else {
                    console.log("error");// make sure to handle errors
                }
            });



        };


        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function createSingleEvent(item, date, image){
            var options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' };
            var end = new Date(item.end_time);
            console.log(image);
            return "<div class='col-4'><a class='text-decoration-none event-image' href='https://www.facebook.com/events/" + item.id +" ' target='_blank'><div class='mb-5'><div class='img-container mb-3'><span class='btn btn-secondary external'>Get More Info</span><img class='img-fluid' src='" + image + "'></div><h3>" + date.toLocaleDateString("en-US", options) + "<br>" + date.toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit'}) + " – " + end.toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit'}) + "</h3><h2>" + item.name +"</h2></div></a></div>"
        }






</script>