<script>
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script>
// initialize the facebook api
window.fbAsyncInit = function() {

  FB.init({
    appId            : '556297018114224',
    autoLogAppEvents : true,
    xfbml            : true,
    version          : 'v3.2'
  });

  const pageAccessToken = 'EAAH58v4ngLABADHo4mx9CgI7sXGMkLrRYsJZAYXKNZBWZCNLbxt8ZCojOswl6YKl9pBeovquXzFoJBrvIaA3kdGs4I48jZBGlWQAv3l2dfmpoFAZAaCbDbudgLRWGhdVkH7uI0mY61tqUr5K2q5xJZB8XqxGBUu0Ql5VrVzzgSADAZDZD';

  //get upcoming events
  displayEventList('upcoming-events', '870962136249359', pageAccessToken, ['time_filter=upcoming']);

  //get past events
  displayEventList('past-events', '870962136249359', pageAccessToken, ['time_filter=past', 'limit=9']);

};

function createSingleEvent(item){
  let options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' },
      end = new Date(item.end_time),
      date = new Date(item.start_time);
  return "<div class='col-4'><a class='text-decoration-none event-image' href='https://www.facebook.com/events/" + item.id + " ' target='_blank'><div class='mb-5'><div class='img-container mb-3'><span class='btn btn-secondary external'>Get More Info</span><img class='img-fluid' src='" + item.cover + "'></div><h3>" + date.toLocaleDateString("en-US", options) + "<br>" + date.toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit'}) + " – " + end.toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit'}) + "</h3><h2>" + item.name +"</h2></div></a></div>"
}
function displayEventList(container, pageID, token, parameters){

  let queryStrings = '?';

  parameters.forEach((item, index) => {
    queryStrings += `${item}&`;
  });

  FB.api(`/${pageID}/events${queryStrings}`, {access_token : token}, function(response) {

      if (response && !response.error) {

        let renderedEvents = '',
            coverPhotos = [],
            eventsContainer = document.getElementById(container);

        response.data.forEach((item) => {

          coverPhotos.push( new Promise((resolve, reject) => {

            FB.api(`/${item.id}?fields=cover`, {access_token : token}, function(response) {

              if (response && !response.error) {

                resolve(response.cover.source);

              } else {

                //if there is an error getting the cover photo just show no photo
                resolve('');

              }

              });

          }) );

        });

        //when all the cover photos are retrieved
        Promise.all(coverPhotos).then((values) => {

          //add the cover photo url to the event
          response.data.forEach((item, index) => {

            item.cover = values[index];

            //create the events html
            renderedEvents += createSingleEvent(item);

          });

          //add events to the dom
          eventsContainer.innerHTML = renderedEvents;

        });

      } else {

        document.querySelector(`${container} .events-error`).classList.remove('hidden');

      }

    });
}
</script>
