
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
        <div class="modal-dialog d-flex" role="document">
            <div class="round modal-content form-active text-center d-flex m-auto">
                <div class="form m-auto">
                    <div id="mc_embed_signup">
                        <form action="https://memphisriverparks.us18.list-manage.com/subscribe/post?u=10b75de564f8de0a21197e4cb&amp;id=a14898b162" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL" class="d-none">Email Address<span class="asterisk">*</span></label>
                                    <input type="email" value="" placeholder="Enter your email" name="EMAIL" class="required email mb-2" id="mce-EMAIL" />
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>  
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_10b75de564f8de0a21197e4cb_a14898b162" tabindex="-1" value="" /></div>
                                <div class="clear">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

    </div>
</div>




