<div class="nav-placeholder">
<div class="container-fluid nav-wrapper">
  <div class="container">
    <div class="row">
      <div class="col">

     
        <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
            
            <a href="/" class="navbar-brand d-flex mr-auto">
              <div class="logo"></div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
              <ul class="navbar-nav w-100 justify-content-center">
                  {% assign links = site.data.navigation %}
                  {% for link in links %}
                      {% assign class = nil %}
                      {% if page.url contains link.url %}
                          {% assign class = 'active' %}
                      {% endif %}
                      {% if link.sublinks %}
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link.title }}</a>
                              <ul class="dropdown-menu">
                                  {% for sublink in link.sublinks %}
                                      {% if sublink.title == 'separator' %}
                                          <li role="separator" class="divider"></li>
                                      {% else %}
                                          <li>
                                              <a href="{{ site.baseurl }}{{ sublink.url }}" class="btn btn-primary">{{ sublink.title }}</a>
                                          </li>
                                      {% endif %}
                                  {% endfor %}
                              </ul>
                          </li>        
                      {% else %}
                          <li class="nav-item {% if page.url == link.url %} active {% endif %}">
                              <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                          </li>
                      {% endif %}
                  {% endfor %}
              </ul>
            </div>

            <div class="navbar-collapse collapse nav-right" id="collapsingNavbar3">
            
                  <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link external" href="#">Shop</a>
                    </li>
                    <li>
                      <a class="btn btn-primary" href="#" role="button">Join Us</a>
                    </li>
                  </ul>

            </div>
            
        </nav>
        
      </div>
    </div>
  </div>
</div>
</div>