<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog m-auto" role="document">
          <div class="modal-content text-left bg-dark">
              
            
            <div class="modal-body pb-4">

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                            <svg width="16px" height="15px" viewbox="0 0 16 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs></defs>
                                <g id="Wireframes" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Rental-Modal" transform="translate(-510.000000, -345.000000)" fill="#FFFFFF">
                                        <polygon id="✕" points="525.309082 358.820801 524.129883 360 517.998047 353.868164 511.866211 360 510.697266 358.820801 516.829102 352.688965 510.697266 346.557129 511.866211 345.388184 517.998047 351.52002 524.129883 345.388184 525.309082 346.557129 519.177246 352.688965" />
                                    </g>
                                </g>
                            </svg></span>
                  </button>
                <h2>I want to rent a...</h2>
                <a href="#" class="btn btn-primary mr-1 external editable" data-dismiss="modal" target="_blank">Park</a>
                
                <a href="http://google.com" class="btn btn-primary external editable" data-dismiss="modal" target="_blank">Facility</a>
            </div>
          </div>
        </div>
      </div>