<div class="container py-4">
    <div class="row">
        <div class="col-10 col-sm-6 col-lg-3 order-2 order-md-1">
            <h2 class="editable">Host your next event at the river.</h2>
            <p class="editable">There are many options to host weddings, birthday parties, family reunions and more at the riverfront. We charge rental fees based on the impact to the park and to the public.</p>
            <a href="#" class="btn btn-primary mt-3 editable">Get Started</a>
        </div>
        <div class="col-md-6 col-lg-8 offset-lg-1 order-1 order-md-2 mb-3 mb-md-0">
            <img class="img-fluid editable" src="../assets/images/rent-1.png" />
        </div>
    </div>
</div>