<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <script language="javascript" type="text/javascript" src="{{ site.url }}/assets/js/libraries/p5.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ site.url }}/assets/js/libraries/addons/p5.dom.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ site.url }}/assets/js/sketch.js"></script>
  
  <body>

      <div class="nav-placeholder position-relative">
          <a href="/" class="navbar-brand d-flex mr-auto">
            <div class="logo">
                <img class="img-fluid before-click" src="{{ site.url }}/assets/images/logo.png" onmouseenter="this.src ='{{ site.url }}/assets/images/logo-animated.gif';" onmouseout="this.src = '{{ site.url }}/assets/images/logo.png';" />
            </div>
          </a>
          <div class="container-fluid nav-wrapper position-fixed">
            {% include navigation.html %}
          </div>
      </div>
    
        {{ content }}

        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="{{ siteurl }}/assets/js/script.js" type="text/javascript"></script>
    
    <!-- <script>
    var colors = ['#44b549', '#ffc818', '#f05f22', '#298fce', '#e684a1'];

        // 404 BG COLOR CHANGE
        //var colors = palette;
        var currentColor = 0;
        var lis = document.getElementById("#page-404");

        function changeColor() {
        if (currentColor < colors.length - 1){
        ++currentColor
        } else {
            currentColor = 0;
        }
        if (currentColor < 0) {
            currentColor = colors.length -1
        }
        
        lis.style.background = colors[currentColor];
        
        }

        setInterval(changeColor, 1600);
</script> -->

  </body>

</html>